---
import "../styles/global.css";
import NavBar from '../components/NavBar.astro';
import Sidebar from '../components/SideBar.astro';
---

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SoftConsult Pro - Dashboard</title>
</head>
<body class="bg-gray-50">
  <!-- NavBar -->
  <NavBar userName="María González" />
  
  <div class="flex min-h-screen">
	<!-- Sidebar -->
	<Sidebar />

	<!-- Contenido principal -->
	<main class="flex-1 p-6">
	  <slot />
	</main>
  </div>
</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
